.App {
  text-align: center;
  padding: 1%;
}
.foot {
  text-align: center;
}

/* nav */

nav {
  background-color: rgb(20, 20, 20);
  display: flex;
}

.SearchBar {
  display: inline-block;
  position: absolute;
  top: 4vh;
  left: 35vw;
}

.SearchInput {
  width: 35vw;
  height: 5vh;
  border-radius: 1.625rem;
  background-color: rgb(229, 229, 229);
}
@media (orientation: landscape) {
  .HeaderImg {
    height: 10vh;
    display: inline-block;
    padding: 1%;
  }

  .HeaderImg2 {
    display: none;
  }

  h4,
  .footbar,
  p {
    font-size: calc(1rem + 0.2vw);
  }
}

@media (orientation: portrait) {
  .HeaderImg2 {
    height: 10vh;
    display: inline-block;
    padding: 1%;
  }

  .HeaderImg {
    display: none;
  }

  h4,
  .footbar,
  p {
    font-size: calc(0.5rem + 0.2vw);
  }
}

/* main */

.Container {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

h2 {
  position: relative;
  top: 12vh;
  left: -3.5vw;
  margin-left: 2vhw;
}

.CompanyPhoto {
  width: 5vw;
  height: auto;
}

@media only screen and (min-width: 1000px) {
  .content {
    display: grid;
    grid-template-columns: 5fr 1fr;
  }
}

.button-compound {
  color: rgb(1, 1, 1);

  background-color: rgba(240, 248, 255, 0);
  padding: 15px;
  margin: 1%;
  border-radius: 1.625rem;
  cursor: pointer;
  border: 2px solid rgb(21, 116, 46);
}

.compound-container {
  display: flex;
  justify-content: center;
}
button:hover {
  background-color: aliceblue;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonContainer p {
  position: relative;
  font-size: small;
  left: -4vw;
  padding-bottom: 1%;
  color: rgb(186, 186, 186);
}

.predictButton {
  right: 10%;
  top: 65%;
  padding: 3%;

  font-weight: bold;
  background-color: transparent;
  margin-bottom: 5%;
  border-radius: 40px;
}
.predictButton:hover {
  transition: 250ms linear;
  background-color: darkgreen;
  color: aliceblue;
}

.chart {
  display: flex;
  justify-content: center;
}
.footbar {
  padding: 1%;
  color: aliceblue;
  bottom: 0%;

  height: auto;
  background-color: black;
}

.introMessage {
  font-size: calc(1rem + 1vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.introMessage div {
  text-align: center;
}
ul {
  top: 0%;
  position: absolute;
  top: 10vh;
  left: 35vw;
  background-color: rgba(254, 254, 254);
  list-style: none;
  width: 35vw;
  border: 1px solid rgb(114, 114, 114);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

li {
  padding: 2%;
  padding-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  border-bottom: 1px solid rgba(169, 167, 167, 0.296);
}

li:hover {
  background-color: rgba(250, 250, 250);
  cursor: pointer;
}

hr.solid {
  border-top: 1px;
}
